{{- /* Partial for pretty printing map values using a paragraph HTML tag */ -}}

{{- /* Ensure there is a map value */ -}}
{{-if (reflect.IsMap .) -}}

<p>
{{ template "print-map" (dict "Map" . "Indent" 0) }}
</p>

{{- end -}}

{{- define "print-map" -}}
{{- /* Template for printing a map taking map and indent parameters */ -}}

{{- $map := .Map -}}
{{- $indention := "" -}}
{{- $indent := .Indent -}}
{{- if $indent -}}
{{- range (seq $indent) }}{{ $indention = printf "%s&nbsp;" $indent }}{{ end -}}
{{- end -}}

{{- if (reflect.IsMap $map) -}}

  {{- range $key, $value := $map -}}
  
    {{- if (reflect.IsMap $value) -}}
{{ printf "<span>%s%s:</span><br>" $indention $key | safeHTML }}
{{ template "print-map" (dict "Map" $value "Indent" (add $indent 1)) }}
    {{- else -}}
{{ printf "<span>%s: %#v</span><br>" }}
    {{- end -}}
  
  {{- end -}}

{{- end -}}


{{- end -}}